
  background-color
  border:
  background-color: #0056


.delete-btn {
  background-color: red;
}

.delete-btn:hover {
  background-color: darkred;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

th {
  background-color: #f4f4f4;
}
